<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>No shaming.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <section class="login-clean">
    <h2 style="text-align: center;font-family: Quicksand;color: rgb(13,14,16);padding: 30px;margin: 10px;">Are you ashamed of yourself?</h2>
    <div class="container">
        <div class="row">
            <div class="form-group">
                    <form action="/" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="illustration">
                            <i class="fas fa-headphones" ></i>
                            <!-- Headers? -->
                            </div>
                            <textarea class="form-control" spellcheck="false" rows="5" cols="20" name="thoughts" placeholder="Why should I believe you?" style="font-family: Quicksand;height: 60px;" required></textarea>
                            <!-- Use the comment below to make me believe you -->
                                <!--I have the KEY-->
                        <input class="btn btn-primary d-block w-100 mt-6" type="submit" value="I am not ashamed of myself." style="font-family: Quicksand;">
                    </form>
    
                </form>
            </div>
        </div>
    </div>
</section>
<script>
     if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>